/*BARRA DE NAVEGACION*/
.contenedor-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: rgb(221, 214, 214);
}

.enlaces-navegacion {
    display: flex;
    justify-content: space-between;
}

.carrito-navegacion {
    display: flex;
    gap: 10px;  
}

.carrito-navegacion img {
    width: 1.5rem;
    height: 1.5rem;
}


.contenedor-navbar-admin {
    background-color: rgb(204, 200, 200);
    width: 25vh;
    height: 100vh; /*Utiliza la altura completa de la ventana*/
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
}


.contenedor-titulo-navbar-admin {
    margin-left: 10px;
}


/*PRODUCTOS*/
.titulo-producto {
    text-align: center;
    margin: 2rem 0rem;
}


.card {
    width: 18rem;
}
