/*REGISTRO USUARIO (VISTA CLIENTE)*/
.main-form {
    min-height: 100vh;            /* ocupa alto visible */
    display: flex;
    justify-content: center;      /* centra horizontal */
    align-items: center;          /* centra vertical */
    padding: 24px;                /* respiro en bordes */
    background: #f5f5f5;          /* gris suave de fondo (opcional) */
}

/* La “card” del formulario */
.registro-usuario {
    width: 100%;
    max-width: 800px;             
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,.06);
    padding: 20px 18px;
}

.form-registro h2 {
    margin: 0 0 12px;
    font-size: 20px;
    text-align: center;
    color: #222;
}

.form-registro .col-12 { 
    margin-bottom: 12px; 
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    background: #fff;
}

.form-registro button {
    width: 40%;
    padding: 20px 20px;
    display: block;
    margin: 3.5rem auto 0; 

}

.contenedor-region-comuna {
    display: flex;
    justify-content: space-between;
}





/*BARRA DE NAVEGACION*/
nav {
    position: sticky;               /* se queda fija */
    top: 0;                        /* pegada arriba */
    width: 100%;                   /* ocupa todo el ancho */  
    z-index: 1000;                 /* encima del resto */

}

.contenedor-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: rgb(221, 214, 214);
}

.enlaces-navegacion {
    display: flex;
    justify-content: space-between;
}

.carrito-navegacion {
    display: flex;
    gap: 10px;
}

.carrito-navegacion img {
    width: 1.5rem;
    height: 1.5rem;
}


.contenedor-navbar-admin {
    background-color: rgb(204, 200, 200);
    width: 25vh;
    height: 100vh; /*Utiliza la altura completa de la ventana*/
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 2px solid black;
    align-items: center;
}

.contenedor-titulo-navbar-admin img {
    width: 232px;
}

.contenedor-enlaces-admin {
    width: 100%;
}

.container-fluid-admin {
    margin: 1.5rem 0px 0rem 1.5rem;   

}

.container-fluid-admin a img {
    margin-right: 8px;
}

.container-fluid-admin a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.contenedor-enlaces-admin img {
    width: 2rem;
    height: 2rem;


}

.titulo-navbar-admin {
    margin: 2rem 0rem;
    font-size: 22px;
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 2rem;
}



/*PRODUCTOS*/
.titulo-producto {
    text-align: center;
    margin: 2rem 0rem;
}

.contenedor-listado-productos {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: space-evenly;
    margin: 0rem 10rem;
    gap: 2.5rem;
}


.card {
    width: 18rem;
    margin: 1rem 0rem;
    cursor: pointer;
    height: 100%;

}


.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.card-body {
    text-align: center;
}


/*DETALLE PRODUCTO*/
#detalle-producto {
    display: grid;                    /*Layout de dos columnas*/
    grid-template-columns: 1.6fr 1fr; /*Imagen grande + info*/
    align-items: start;
    margin: 3rem 15rem;
}

.detalle-imagenes {
    border: 1px solid #e5e7eb;      
    border-radius: 14px;
    background: #fff;
    box-shadow: 0 6px 18px rgba(0,0,0,.06);
    width: 85%;
}

    /* Imagen principal del detalle */
.detalle-imagen-principal {
    position: relative; /*para posicionar la imagen dentro*/
    aspect-ratio: 4/3;  /*El contenedor mantiene una proporcion fija*/
    width: 100%;
    margin-bottom: 1rem;
}





.detalle-imagen-principal img {
    width: 100%; height: 100%;
    object-fit: cover; /* recorta la imagen para encajar en el contenedor sin deformarse */
    position: absolute; /*ocupa todo el contenedor fijo*/
    padding: 4rem;
}

    /*Titulo + precio*/
.titulo-precio {
    display: flex;
    justify-content: space-between;
}

    /*Texto descriptivo*/
.detalle-info p {
    margin: 2rem 0rem;
    padding: 2rem 0rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.detalle-acciones {
    display: flex;
    justify-content: space-between;
}

#btn-añadir-detalle {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
}

    /*Miniatura bajo la imagen principal*/
.miniaturas {
    display: flex;
    gap: 10px;
    padding: 2rem;
    border-top: 2px solid black;
}

.miniaturas img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
}

.miniatura.seleccionada {
    border: 2px solid blue;
}

/* Productos relacionados debajo */
.detalle-relacionados {
    margin-top: 2rem;
}

.detalle-contenedor-relacionados {
    display: flex;
    gap: 2rem;
}

/*VISTA ADMIN*/
/*LISTA USUARIOS*/
.header-lista-usuario h1{

}

.contenedor-lista-usuario {
    margin:0px 150px 0px 300px;
    margin-top: 3rem;
    padding: 1rem;
}



.header-titulo-lista-usuario {
    display: flex;
    gap: 20px;
}

.header-titulo-lista-usuario button {
    background-color: black;
    padding: 1.5rem;
}

.header-lista-usuario {
    display: flex;
    justify-content: space-between;
}

.header-notificacion img {
    width: 30px;
    height: 30px;
}


/* DETALLE BLOG 1 */

.hero1 {
    height: 40vh;
    margin-top: 1rem;
    background: url("img/detalle-blog-1.jpg") 50% 40% no-repeat ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.hero-content1 {
    margin-top:2rem;
    background: rgba(89, 78, 78, 0.5);
    padding: 1rem;
    border-radius: 10px;
}
.hero h1 {
    font-size: 7rem;
    margin: 10px;
    font-family: 'Protest Riot', cursive, 'Segoe UI', Arial, sans-serif;}
.hero p {
    font-size: 1.2rem;
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
}

.container-video1 {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.detalle-blog1 {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    padding: 1rem 3rem;
    max-width: 2000px;
}

.info-blog1 h2 {
    font-size: 40px;
    line-height: 1.6;
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
    color: #333;
    background: #f9f9f9;
    padding: 2.5rem;
    border-radius: 12px;
    text-align: center;
}
.info-blog1 p{
    font-size: 2rem ;
    text-align: justify;
}

.info-blog1 ol{
    font-size: 1.5rem;
    line-height: 2;
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
    padding: 5rem;
    text-align: justify;
}

.info-blog1 li{
    margin-bottom: 1rem;
}


/* DETALLE BLOG 2 */
.hero2 {
    height: 40vh;
    margin-top: 1rem;
    background: url("img/detalle-blog-2.jpg") 50% 40% no-repeat ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.hero-content1 {
    margin-top:2rem;
    background: rgba(89, 78, 78, 0.5);
    padding: 1rem;
    border-radius: 10px;
}
.hero h1 {
    font-size: 7rem;
    margin: 10px;
    font-family: 'Protest Riot', cursive, 'Segoe UI', Arial, sans-serif;}
.hero p {
    font-size: 1.2rem;
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
}

.container-video2 {
    display: flex;
    align-content: center;
    justify-content: center;
}

.detalle-blog2 {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    padding: 1rem 3rem;
    max-width: 2000px;
}

.info-blog2 h2 {
    font-size: 40px;
    line-height: 1.6;
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
    color: #333;
    background: #f9f9f9;
    padding: 2.5rem;
    border-radius: 12px;
    text-align: center;
}
.info-blog2 p{
    font-size: 2rem ;
    text-align: justify;
}

.info-blog2 ol{
    font-size: 1.5rem;
    line-height: 2;
    font-family: 'Poppins', 'Segoe UI', Arial, sans-serif;
    padding: 5rem;
    text-align: justify;
}

.info-blog2 li{
    margin-bottom: 1rem;
}

